.dart_tool/
.codex-dart-tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

android/.gradle/
android/local.properties
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*

*.iml
*.log
